/**index.wxss**/

@import "../index/bottomtab.scss";
page{
  width: 100%;
  height: 100vh;
}   
.section{ 
  background: #333333;
  position: relative;
}
.picture-action{
  position: absolute;
  // bottom:calc(115px +  constant(safe-area-inset-bottom));  
  // bottom:calc(115px +  env(safe-area-inset-bottom));  
  bottom:50rpx;
  left: 0;
  right: 0;
  z-index: 210; 
} 
.start-camera{    
  position: absolute;
  left: 0; 
  z-index: 11; 
  width: 100%;
  height: 100%;
  margin:0;
}


.bottom-picture-box{
  position: fixed;
  z-index: 20;
}
.customer-select-img{
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.hidden-bg{
   display: none!important;
 
 }
.camral-info-box{ 
  position: absolute;
  z-index:21;
  width: 100%;
  height: 100%;
  .cloum-box {
    height: 100%;
    width: 100%;
    gap: 2px;  
    position: absolute;
    &.loading-bg{
      // background: rgba(51,51,51,1);

    }
    z-index: 21;
    .row-box{
      display: flex;
      height: 33.3%;
      width: 100%; 
          .cloum-box-item {
            border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            height:100%; 
            list-style: none;
            border: 1px solid rgb(61,61,61);
            flex: 1;
          }
    }
  }
  
.system-load-info{
  position: absolute;
  z-index: 25; 
  color: #fff;
  font-weight: bold;
  font-size: 36rpx;
  display: flex;
  width: 100%;
  height: 100%; 
  align-items: center;
  justify-content: center;
}
}


.sys-info-box{
  position: absolute;
  z-index: 11;
  padding: 30%;

}

