/* pages/indexpicture/index.wxss */
@import "../../action.wxss";
@import "../index/bottomtab.scss";

page{ 
  width: 100%;
  height: 100vh;
}    
.section-box{ 
  // display: flex;
  width: 100%;
  // height:  calc(100%-85px-90px-env(safe-area-inset-bottom));
  background:rgba(204, 204, 204, 1);
  overflow: auto;
}


/* 解析的图片内容容器 */
.zoomArea{ 
  position: relative;
  z-index:30;
  margin:0; 
  // text-align: center;
  background: rgba(204, 204, 204, 1);
  // background: red;
  // display: flex;
  // align-items: center;
  // justify-content: center;
} 
// 容器的高度觉得拖拽的灵敏度
.zoomview-box{
  z-index:22;
  // background-color: #fff;  
  // background-color: blue;  
  display: block; 
  // pointer-events: painted;
  
}

/* 缩放图片容器 */ 
.media-info-box{ 
  position: relative;
  left: 0;
  top: 0;
  // left: -23%;
  // top: -13%;
  border: 4rpx solid transparent;
  margin: 40rpx 0;
  border-color:  #fff; 
  text-fill-color:#000;
  -webkit-text-fill-color: #000;
  z-index:1; 
  // filter: blur(1.3px);
  pointer-events: none;
  // background-color: yellow;
} 
.media-info-box:nth-child(even){
  border:4rpx solid  #004DD1; 
}
.media-info-box:nth-child(odd){
  border:4rpx  rgba(31, 113, 255, 1); 
}
.default-image{
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  filter: blur(1.3px);
  // opacity: 0.3;
  z-index: 2;
  pointer-events: none;
}


.media-text-item{ 
  position: absolute;
  z-index: 22;
  box-shadow: none;
  display: inline-block;
 background-color: rgba(255,255,255,0.9);  
  // border: 2rpx solid rgba(255,255,255,0.4);
  color:rgba(0,0,0,0);
  pointer-events: none;
  text-align: justify;
  text-justify: distribute;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;

  pointer-events: none;
  word-spacing: -5px;
  letter-spacing:-2px; 
  text-align: left;
  pointer-events: none; 
  // pointer-events: painted;
}

.media-text-item.lock{   
  background: rgba(31, 113, 255, 0.9); 
  border: 2rpx solid rgba(0, 0, 0, 0.5); 
  padding: 0 10rpx;
  border-radius: 2rpx;
  filter: blur(0rpx);
  display: flex;
  align-items: center;
  justify-content: center;
  .lock-info{
    display: inline-block;   
    vertical-align: baseline; 
    margin-top: 6px;
  } 
  text{ 
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  image{    
    pointer-events: painted;
  }

} 
// .media-text-item:nth-child(odd){
//   border: 2rpx solid rgba(169,236,125,1);

// }
// .media-text-item:nth-child(even){
//   border: 2rpx solid rgba(106,28,255,1);

// }
.media-text-item.selected{
  border: 2rpx solid rgba(0, 0, 0, 0.5);
  background:  rgba(31, 113, 255, 0.9);
  pointer-events: none;
  color: #fff!important; 
}
.action-scale{
  position: absolute;
  width: 80rpx;
  height: 150rpx;
  z-index:146;
  right:0;
  top:35%;
}
.action-scale .scaleAction{
  display: block;
  width: 80rpx;
  height: 80rpx; 
  margin: 30rpx 20rpx;
 transform:  scale (1.4);
}

/* 显示列表状态 */
.action-container .action-icon-box{
  box-sizing: border-box;
  padding:36rpx 31rpx 32rpx 40rpx ;
  display: block;
  height: 100rpx;
  align-items: center;
}
.action-icon-box image.icon-btns{ 
  display: inline-block;
  width: 32rpx;
  height: 32rpx;
  opacity: 1;  
  margin-right: 32rpx ;
  background-repeat: no-repeat;
} 
.action-icon-box image.icon-btns-close{ 
  width: 38rpx;
  height: 38rpx;
  opacity: 1; 
  float: right;
} 



.action-container { 
  bottom: 135rpx;
  padding-bottom: 20rpx;
  background-color: #fff;
  // bottom: 170rpx;
  margin-bottom:0;
  .action-only-close{
    padding:0  11rpx  29rpx 33rpx;
    .closeBtn {
          
    width: 38.5rpx;
    height: 38.5rpx;
    }
  }
}

.scroll-translate{ 
  overflow-y:auto ;
  display: block;
  padding: 0;
  border-top: 2rpx solid rgba(0, 0, 0, 0.05);
  .flex-scroll{
    display: block; 
  }
  .lang-item-box{
    position: relative;
  }
  .lang-item{
    position: relative;
    flex-shrink: 0;
    display: block;

    // flex: 1;
    // flex-direction: cloum;此处弹性布局移动端会出现无效滚动条情况
      .horizon-text{
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 12rpx 32rpx 20rpx 20rpx;
        font-size: 28rpx;
        font-weight: 400;
        letter-spacing: 0rpx;
        line-height: 36rpx;
      }
  }
  .lang-verticl-item{
    position: relative;
    display: block;
    .verticle-text{
      display: block;
      .title{
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  
 .horizon-item-copy{
  position: absolute;
  right: 6rpx;
  top: 8rpx;
  width:24rpx;
  height: 24rpx;
  display: inline-block;
  z-index: 120;
  pointer-events: none;
  image{ 
  width:24rpx;
  height: 24rpx;
  display: inline-block;
  vertical-align: top;
  // background-color: rgba(0, 0, 0, 0.01);
  }
}
 
}